/*�����Զ�����ʽ��css�ļ�*/

body {
	margin-top: 20px;
	margin: 0 auto;
	width: 1200px;
}

.clear{
	clear:both;
}

.top{
	width:1200px;
	margin:20px auto;
	overflow:hidden;
}

.top div{
	
}

.search{
	background-color: #FCFDEF;
	padding:10px 200px 10px 0px;
}
.row p{margin:0 auto;}









