#warp{
	width: 1200px;
	height: 2000px;
	margin: 0 auto;
	overflow: auto;
	
}
.banner{
	width: 1200px;
	height: auto;
	overflow: auto;
	
}
#warp .content-1{
	width: 1200px;
	height: 1300px;
	overflow: auto;
	margin: 20 auto;
}
body{
	background: rgb(244,244,244);
}
.img22{
	margin: 10 auto;
	
}
.tuandui{
	margin: 0 5px;
}
.right-sidebar{
    position: relative;
    margin-top: 0px;
    float: right;
    width: 300px;
    height: 531px;
    overflow: hidden;
}
/*info-box*/
.info-box{
    width: 298px;
    height: 98px;
    border: 1px solid #eee;
}
*tab-nav*/
.tab-nav{
    margin-left: -1px;
    width: 100%;
    height: 27px;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
}

.li-nav{
    width: 57px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 11px;
    color: #3c3c3c;
    border: 1px solid #f7f7f7;
    border-bottom: none;
    cursor: pointer;
    background: #CCCCCC;
}
.li-nav:last-child{
    width: 61px;
}
.li-nav:hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: #fff;
    color: #f40;
}
.li-border{
    border-left: 1px solid #eee;
}
.li-nav-hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: #fff;
    color: #f40;
}
.li-hover{
    border: 1px solid #ff5640;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #ff5640;
}
.hiddenBox{
    width: 264px;
    height: 34px;
    display: none;
    border-top: 0;
    padding: 8px 18px;
}
.hiddenBox a{
    line-height: 28px;
    margin-right: 5px;
}

/*user-info*/
.user-info{
	
    margin-top: 0 auto;
    width: 298px;
    height: 138px;
    border: 1px solid #ddd;
    background: url(../images/user-bg.png) no-repeat right top;
}
.gold-top{
    margin: 0px auto 0 auto;
    width: 280px;
    height: 62px;
}
.gold-top img{
    float: left;
    margin-right: 12px;
    border-radius: 62px;
}
.inner-user{
    float: left;
    width: 205px;
    height: 100%;
}
.inner-user > h3{
    margin-top: 10px;
    width: 100%;
}
/*get-gold*/
.get-gold,
.vip-home{
    float: left;
    margin-top: 10px;
    display: inline-block;
    height: 28px;
    width: 107px;
    line-height: 28px;
    border: 1px solid #fdb08e;
    background: #fff0e8;
    color: #f55732;
}
.glods{
    display: inline-block;
    margin: 4px 5px 0 5px;
    width: 18px;
    height: 18px;
    background: url(../img/tao.png) no-repeat center;
}
.vip-home:hover,
.get-gold:hover{
    background: #f9eae3;
}
.vip-home{
    margin-left: 5px;
    text-align: center;
    width: 76px;
}
.get-money{
    display: inline-block;
    vertical-align: top;
}
/*login*/
.login{
    margin: 16px auto 0 auto;
    width: 90%;
    height: 40px;
}
.login-btn{
    display: inline-block;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    border-bottom: 1px solid #e4e4e4;
    background: #f40;
    color: #fff;
}
.login-btn:hover{
    background: #E83E00;
    color: #fff;
}
.fa-user-loc{
    font-size: 14px;
    margin-right: 10px;
}
.free{
    width: 76px;
}
/*service*/

.service{
    width: 290px;
    height: 279px;
    border: 1px solid #eee;
    background: #f4f4f4;
    padding-left: 8px;
}
/*service-cell*/
.service-cell{
    float: left;
    margin: 10px 0 0 10px;
    width: 56px;
    height: 63px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
.service-z{
    position: relative;
    z-index: 2999;
}
.service-box{
    position: absolute;
    bottom: -50px;
    z-index: 2998;
    width: 278px;
    padding: 10px 10px;
    height: 152px;
    display: none;
    border: 1px solid #eee;
    border-top: 1px solid #ddd;
    background: #fff;
}

/*feihua-in*/
.feihua-in{
    margin-bottom: 10px;
    width: 178px;
    height: 22px;
    border-top: 1px solid #afafaf;
    border-left: 1px solid #afafaf;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.money-in{
    width: 113px;
}
.feihua-in span{
    display: inline-block;
    height: 100%;
    width: 32px;
    background: #e5e5e5;
    line-height: 22px;
    text-align: center;
}
.sel-money{
    margin: 0 0 0 -4px;
    padding: 0;
    height: 100%;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
}
/*now-chongzhi*/
.now-chongzhi{
    padding: 5px 8px;
    color: #fff;
    background: #f40;
}
/*dingqi*/
.dingqi{
    margin: 0 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    color: #000;
}
.sel-money:hover{
    color: #f40;
}
.feihua-in input{
    margin: -4px 0 0 -6px;
    padding-left: 2px;
    height: 18px;
    border: none;
    border-top: 1px solid #d8d7d7;
    border-left: 1px solid #d8d7d7;
    outline: none;
}
.tell-num{
    width: 145px;
    background: url(../img/user-num.png) no-repeat 95% center;
}
/*service-head*/
.service-head{
    margin: 10px 0;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #f2f2f2;
}
.service-head a:first-child{
    padding: 5px 10px;
    margin-right: 10px;
    background: #ffe0cc;
}
.service-cell > h6{
    margin: 3px 0 2px 0;
    font-weight: lighter;
    color: #9c9c9c;
}
.service-head span{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: #ddd;
}
.service-head span:hover{
    color: #f40;
}
.service > h3{
    margin: 20px 0 0 10px;
}
/*service-i*/
.service-i{
    height: 30px;
}
.service-i > img{
    margin-top: 6px;
}

/**********************sub-nav*********************/
.sub-nav{
    position: relative;
    margin: 25px auto;
    width: 1190px;
    height: 88px;
    overflow: hidden;
}
/*top-sub-nav*/
.top-sub-nav{
    height: 145px;
}
/*more-btn*/
.more-btn{
    position: absolute;
    right: 26px;
    bottom: 10px;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    background: #f40 url(../img/down.png) no-repeat 90% center;
    cursor: pointer;
}
/*sub-nav-cell*/
.sub-nav-cell{
    float: left;
    width: 280px;
    padding-left: 15px;
    height: 100%;
    border-right: 1px solid #eee;
}
.sub-nav-cell:last-child{
    border-right: none;
}

.sub-nav-cell > h3{
    margin-bottom: 7px;
    font-size: 15px;
}
.orange{
    color: #f40;
}
.green-sp{
    color: #a0b959;
}
.red-now{
    color: #df61ab;
}
.blue-more{
    color: #55a1e5;
}
.sub-nav-box li{
    display: inline-block;
    margin: 2px 2px;
    height: 25px;
    line-height: 25px;
    width: 58px;
    text-align: center;
}
/*sub-nav-box*/
.sub-nav-box  a{
    display: inline-block;
    height: 25px;
    text-align: center;
    padding: 0 3px;
}
.sub-nav-box  a:hover{
    border-radius: 3px;
    background: #f40;
    color: #fff;
}
.sp a:hover{
    background: #a0b959;
}
.now a:hover{
    background: #df61ab;
}
.more a:hover{
    background: #55a1e5;
}